/* Color index::after

green: text
RED: visor
BLUE: all buttons
ORANGE: numbers && operations && function buttons
*/

:root {
  --scale: 10em;
}

body {
  background-color: rgb(23, 32, 44)
}

h1 {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: calc(var(--scale) / 3);
}

button {
  width: calc(var(--scale) / 5);
  height: calc(var(--scale) / 5);
  font-size: calc(var(--scale) / 5);
  border-radius: calc(var(--scale) / 5);
  margin: 0.1em;
}

#visor {
  font-size: calc(var(--scale) / 5);
  padding: calc(var(--scale) / 20);
  width: calc(var(--scale) * 1.08);
  height: calc(var(--scale) / 20);
  border-radius: calc(var(--scale) / 33);
  text-align: right;
}

.visor-div {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: calc(var(--scale) / 10);
}

.numbers {
  border: 1px solid orangered;
}

.container {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.operations {
  margin: 0 calc(var(--scale) / 20);
  border: 1px solid orangered;
}

/* The code right down mades each element of div above stay inline
*/

#only-line {
  display: block;
}

.equals {
  height: calc(var(--scale) / 1.75);
}

.function-buttons {
  border: 1px solid orangered;
}